rules_version = '2';

service cloud.firestore {
    
  match /databases/{database}/documents {
       match /waitingThought {
             allow read: if request.auth.uid != null;
       }
          
       match /waitingThought/{thought=*} {
             allow read, write: if true;
       }
  }
}