.nav-tabs > li > .nav-link:not(.active) {
  color: rgb(120, 160, 160);
}

.avatar-grid {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 56px .3fr 100px 1fr;
}

@media (max-height: 700px) {
  .avatar-grid {
    grid-template-rows: 56px .5fr 80px 1fr;
  }
}

.avatar {
  height: 100%;
  object-fit: scale-down;
}

/* @media (min-height: 900px) {
  .avatar {
    height: 100%;
  }
}

.avatar {
  height: 50%;
} */
